.container {
  margin-bottom: 50px;

  h1 {
    margin-bottom: 30px;
  }
  .layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
  }
}
