.card{
    display: flex;
    gap:20px;

    .image{
        min-width:300px;
        aspect-ratio: 16/9;
        background:grey;
        border-radius:10px;
    }
    .text{
        display: flex;
        flex-direction: column;
        gap:10px;
        justify-content: space-between;

        .title{
            margin-bottom:10px;
        }
    }
}