.default{
    position:relative;

    .image{
        border-radius: 10px;
        overflow: hidden;
        margin-bottom:20px;
        height:500px;
        width:100%;

        img{
            width:100%;
        }
    }
    .content_wrapper{
        display: flex;
        justify-content: space-between;

        .content{
            max-width:70%;
        }
    }
}