.container{
    min-width:30%;
    position:sticky;
    top:0;
    height:300px;
    // margin-left:30px;
    
    h1{
        margin-bottom:30px;
    }
    
    .categories_container{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    .category{
        padding:10px;
        background:white;
        color:black;
    }
}
