.main {
  width: 100%;

  .more_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
}
// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
